.location-form {
    background-color: var(--white);
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.1),
        0px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    z-index: 99;
}

.location-form__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
}

.location-form__header .header__title {
    color: var(--dark-blue);
    line-height: 24px;
    font-weight: 700;
}

.location-form__header .header__close {
    background-color: transparent;
    border: 0;
    padding: 6px 0px;
    cursor: pointer;
}

.location-form__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px 24px;
}

.location-form__sub-header {
    text-transform: uppercase;
    color: var(--accent-blue);
}

.location-form__sub-header > hr {
    margin-top: 16px;
    border: 0.5px solid var(--light-grey);
}

.location-form__footer {
    display: flex;
    align-items: center;
    gap: 16px;
}
